In [ ]:
from pandas.io.parsers.readers import csv
import pandas as pd
import numpy as np
data = pd.read_csv ('IMDB Dataset - IMDB Dataset.csv')
print(data)

                                                  review sentiment
0      One of the other reviewers has mentioned that ...  positive
1      A wonderful little production. <br /><br />The...  positive
2      I thought this was a wonderful way to spend ti...  positive
3      Basically there's a family where a little boy ...  negative
4      Petter Mattei's "Love in the Time of Money" is...  positive
...                                                  ...       ...
49995  I thought this movie did a down right good job...  positive
49996  Bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  I am a Catholic taught in parochial elementary...  negative
49998  I'm going to have to disagree with the previou...  negative
49999  No one expects the Star Trek movies to be high...  negative

[50000 rows x 2 columns]

In [20]:
import pandas as pd
import numpy as np
data = pd.read_csv('/imdb_m - imdb_m.csv')

In [22]:
print(data)

                                                 Name  Year  Runtime
0                            The Shawshank Redemption -1994  142 min
1                                     The Dark Knight -2008  152 min
2                                           Inception -2010  148 min
3                                          Fight Club -1999  139 min
4                                        Forrest Gump -1994  142 min
5                                        Pulp Fiction -1994  154 min
6                                          The Matrix -1999  136 min
7   The Lord of the Rings: The Fellowship of the Ring -2001  178 min
8                                       The Godfather -1972  175 min
9       The Lord of the Rings: The Return of the King -2003  201 min
10                              The Dark Knight Rises -2012  164 min
11              The Lord of the Rings: The Two Towers -2002  179 min
12                                              Se7en -1995  127 min
13                                   Django Unchained -2012  165 min
14                                          Gladiator -2000  155 min
15                                      Batman Begins -2005  140 min
16                               Inglourious Basterds -2009  153 min
17                           The Silence of the Lambs -1991  118 min
18                                       The Avengers -2012  143 min
19                                Saving Private Ryan -1998  169 min
20                                          Star Wars -1977  121 min
21                                   Schindler's List -1993  195 min
22                                       The Prestige -2006  130 min
23                                       The Departed -2006  151 min
24                                     Shutter Island -2010  138 min
25                                     The Green Mile -1999  189 min
26                            The Empire Strikes Back -1980  124 min
27                              The Godfather Part II -1974  202 min
28                                             Avatar -2009  162 min
29                                            Memento -2000  113 min
30                                 Back to the Future -1985  116 min
31                                            Titanic -1997  194 min
32                                               Léon -1994  110 min
33                                         Goodfellas -1990  145 min
34                                    American Beauty -1999  122 min
35  Pirates of the Caribbean: The Curse of the Bla... -2003  143 min
36                                     V for Vendetta -2005  132 min
37                                 American History X -1998  119 min
38                                  Kill Bill: Vol. 1 -2003  111 min
39                                             WALL·E -2008   98 min
40                         Terminator 2: Judgment Day -1991  137 min
41                                 The Usual Suspects -1995  106 min
42                                    The Truman Show -1998  103 min
43                                           Iron Man -2008  126 min
44                                      The Lion King -1994   88 min
45         Star Wars: Episode VI - Return of the Jedi -1983  131 min
46                                       Finding Nemo -2003  100 min
47                                                 Up -2009   96 min
48                                         Braveheart -1995  178 min
49                                        The Shining -1980  146 min

In [23]:
data.head()

                       Name  Year  Runtime
0  The Shawshank Redemption -1994  142 min
1           The Dark Knight -2008  152 min
2                 Inception -2010  148 min
3                Fight Club -1999  139 min
4              Forrest Gump -1994  142 min

In [24]:
data.tail()

                                          Name  Year  Runtime
45  Star Wars: Episode VI - Return of the Jedi -1983  131 min
46                                Finding Nemo -2003  100 min
47                                          Up -2009   96 min
48                                  Braveheart -1995  178 min
49                                 The Shining -1980  146 min

In [25]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Name     50 non-null     object
 1   Year     50 non-null     int64
 2   Runtime  50 non-null     object
dtypes: int64(1), object(2)
memory usage: 1.3+ KB

In [26]:
data.describe()

              Year
count    50.000000
mean  -1998.040000
std      10.032519
min   -2012.000000
25%   -2005.750000
50%   -1999.000000
75%   -1994.000000
max   -1972.000000